{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="../assets/styles/forum.css">
{% endblock %}
{% block title %}Forum{% endblock %}

{% block nav %}
<nav>
    <a href="{{ path('accueil') }}"><i class="bi bi-house"></i></a>
    <a href="{{ path('carte') }}"><i class="bi bi-geo-alt"></i></a>
    <a href="{{ path('app_forum_sujet_index') }}"><i class="bi bi-chat-dots"></i></a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}"><i class="bi bi-gear"></i></a>
    {% endif %}
    <a href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-left"></i></a>
</nav>
{% endblock %}

{% block body %}
<h1>Forum</h1>

<div class="forum-container">
    <table>
        <tbody>
            {% for forum_sujet in forum_sujets %}
            <div class="tableee">
                <p class="id">{{ forum_sujet.id }}</p>
                <p class="sujet">{{ forum_sujet.titre }}</p>
                <p class="date">{{ forum_sujet.date ? forum_sujet.date|date('Y-m-d H:i:s') : '' }}</p>
                {% if is_granted('ROLE_USER') %}
                <p class="bout">
                    <a href="{{ path('app_forum_sujet_show', {'id': forum_sujet.id}) }}"><i class="bi bi-eye" style="font-size:25px"></i></a>
                    <a href="{{ path('app_forum_sujet_edit', {'id': forum_sujet.id}) }}"><i
                            class="bi bi-pencil-square" style="font-size:25px"></i></a>
                </p>
                {% endif %}
            </div>
</div>
{% else %}
<tr>
    <td colspan="4">Aucune discussion trouvée</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="forum-actions">
    <a href="{{ path('app_forum_sujet_new') }}" class="btn-new-discussion"><i class="bi bi-plus"></i>Ajouter une
        nouvelle discussion</a>
</div>
{% endblock %}

{% block footer %}
<div class="foot">
    <hr>
    <p>Mentions légales - © 2025 - ALAND DRINNHAUSEN SCHMITT</p>
</div>
{% endblock %}